<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="entry-title">
      Understanding the benefits of instant crypto exchanges
    </h1>
    <p>
      The differences between instant and traditional exchanges do not make one
      inherently better than the other —&nbsp;they’ve been created for different
      use cases. Developing an understanding of instant crypto exchanges will
      help you determine which solution best fits your needs. Below are some of
      the potential benefits of opting for an instant crypto exchange:
    </p>

    <p><strong>Funds storage —&nbsp;safety</strong></p>
    <p>
      Perhaps the most fundamental way, in which instant crypto exchanges differ
      from their more traditional exchange counterparts is the way funds are
      kept. Instant crypto exchanges receive and deposit funds directly to your
      wallet, meaning you retain custody —&nbsp;as opposed to custodial trading
      exchanges that hold your assets for you.
    </p>

    <p>
      As you know, not your keys, not your coins. By enabling you to retain
      custody of your funds, instant crypto exchanges grant you more control and
      better safety. If you practice good operational security, which typically
      includes not holding your funds on an exchange, then the likelihood of an
      attacker wanting to gain access to your wallet is relatively small
      compared to the massive honeypots of custodial exchanges. In 2019, we
      saw&nbsp;< >, with stolen funds totaling over $290M. By using an instant
      crypto exchange, you can avoid the centralized exchange hack risk without
      having to constantly be shifting your funds on and off an exchange.
    </p>

    <p>
      It should be noted that instant exchanges utilize traditional custodial
      exchanges to execute an order. This means that for the duration of a
      transaction the specific funds involved in the trade are briefly custodied
      by the underlying exchange.
    </p>

    <p><strong>Signups and interface —&nbsp;ease of use</strong></p>

    <p>
      While this might feel minimalistic to an experienced trader, for those
      looking to simply invest or make a single transaction, it’s a highly
      attractive option. To compare, power-traders using options like Coinbase
      Pro see the following:&nbsp;
    </p>

    <figure class="wp-block-image">
      <img
        src="https://s3.cointelegraph.com/storage/uploads/view/bf9b32f8549d57c7545944a1cb775170.png"
        width="1000" height="500"
        alt=""
      />
    </figure>

    <p><em>Source: pro.coinbase.com</em></p>

    <p>
      As it is clearly evident, a traditional crypto exchange has a lot more
      information for an experienced trader to digest and act on. But for users
      looking to have an easy on-boarding and trading experience, instant crypto
      exchanges offer a much simpler alternative.
    </p>

    <p><strong>Aggregation and fixed/floating rates —&nbsp;price</strong></p>

    <p>
      For those of you familiar with traditional crypto exchanges, you’ll know
      why Coinbase Pro’s interface is so extensive in comparison: You need to
      know what the price and depth of the order book in order to make your
      trade. This order book depth is exchange-specific —&nbsp;it only includes
      the orders placed on Coinbase. Instant crypto exchanges, on the other
      hand, aggregate prices and liquidity from multiple exchanges, meaning you
      get access to the best prices those multiple exchanges have to offer, with
      deeper liquidity and less risk of slippage.
    </p>

    <p>
      When placing the actual order, these two solutions also differ. A common
      traditional exchange order type is a limit that tells the system to
      execute the buy or sell order when the price is at or better than a
      specific limit. This gives traders more flexibility and control over their
      trades.
    </p>

    <p>
      Instant crypto exchanges also have a beneficial feature in trading
      execution: fixed or floating rates. A floating rate is executed at the
      best possible price at the time of the transaction, which could be
      slightly above or below the quoted price due to market volatility. A fixed
      rate locks in a specific rate and guarantees the trade will be executed at
      that price, which, again, might be above or below the floating rate
      depending on market volatility.
    </p>
  </body>
</html>
